/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.swiper-button-next, .swiper-button-prev { color: #fff !important; }
        .swiper-pagination-bullet-active { background: #f14201 !important; }
		html {
      scroll-behavior: smooth;
       }
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; /
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #f14201; 
  border-radius: 10px;
  /* border: 3px solid #f1f1f1;  */
}

